* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    background: rgb(var(--b3f));
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

input,
input:focus-visible,
input:focus {
    outline: none;
}

:root {
    /* all color variables */

    --i1d: 38, 38, 38;
    --edc: 199, 199, 199;
    --f75: 38, 38, 38;
    --fe0: 0, 55, 107;
    --d87: 255, 255, 255;
    --b3f: 250, 250, 250;
    --bb2: 239, 239, 239;
    --f23: 255, 255, 255;
    --b38: 219, 219, 219;
    --b6a: 219, 219, 219;
    --ca6: 219, 219, 219;
    --cdd: 38, 38, 38;
    --e22: 199, 199, 199;
    --e62: 245, 251, 255;
    --b2f: 88, 195, 34;
    --c8c: 168, 168, 168;
    --ce3: 239, 239, 239;
    --jd9: 0, 0, 0;
    --j64: 54, 54, 54;
    --a97: 243, 243, 243;
    --d20: 38, 38, 38;
    --f52: 142, 142, 142;
    --h1d: 255, 255, 255;
    --de5: 255, 255, 255;
    --d69: 0, 149, 246;
    --b86: 88, 195, 34;
    --i30: 237, 73, 86;
    --d62: 255, 255, 255;
    --e4f: 54, 54, 54;
    --a72: 255, 255, 255;
    --ie3: 142, 142, 142;
    --c37: 237, 73, 86;
    --f24: 0, 149, 246;
    --daf: 255, 1, 105;
    --f76: 28, 209, 79;
    --jbb: 53, 121, 234;
    --aab: 118, 56, 250;
    --eca: 255, 255, 255;
    --jb7: 0, 0, 0;
    --fa7: 224, 241, 255;
    --aa6: 38, 38, 38;
    --ba8: 168, 168, 168;
    --eac: 237, 73, 86;
    --ig-error-or-destructive: 237, 73, 86;
    --blue-4: #47afff;
    --blue-5: #0095f6;
    --blue-6: #0074cc;
    --blue-7: #0057a3;
    --blue-9: #002952;
    --challenge-link: 54, 54, 54;
    --clr-separator: #efefef;
    --clr_red_dark_30: #af2634;
    --cluster-card-border-radius: 8px;
    --creation-composer-height: 81px;
    --creation-header-composer-height: 126px;
    --creation-header-height: 43px;
    --creation-min-padding-x: 32px;
    --creation-modal-max-height: 898px;
    --creation-modal-min-height: 391px;
    --creation-padding-x: 64px;
    --creation-padding-y: 112px;
    --creation-settings-width: 340px;
    --cyan-5: #27c4f5;
    --desktop-cluster-card-height: 89px;
    --desktop-cluster-card-width: 140px;
    --desktop-collapsed-nav-height: 52px;
    --desktop-grid-item-margin: 28px;
    --desktop-in-feed-story-item-height: 208px;
    --desktop-in-feed-story-item-width: 116px;
    --desktop-large-modal-max-height: 781px;
    --desktop-large-modal-max-width: 1491px;
    --desktop-large-modal-min-height: 664px;
    --desktop-large-modal-min-width: 908px;
    --desktop-nav-anim-duration: 0.2s;
    --desktop-nav-search-box-large-width: 268px;
    --desktop-nav-search-box-width: 215px;
    --desktop-regular-nav-height: 77px;
    --direct-attachment-image-grid-border-size: 1px;
    --direct-attachment-image-grid-item-size: 78px;
    --direct-attachment-story-height: 150px;
    --direct-attachment-story-large-height: 256px;
    --direct-attachment-story-large-width: 164px;
    --direct-attachment-story-width: 84px;
    --direct-message-margin: 8px;
    --direct-message-max-width: 236px;
    --docpen-lightgrey: 243, 243, 243;
    --fb-connect-blue: #4f67b0;
    --fb-signup-page-profile-pic-size: 88px;
    --feed-sidebar-padding: 32px;
    --feed-sidebar-width: 319px;
    --feed-polaris-padding-small: 32px;
    --feed-polaris-padding-med: 70px;
    --feed-polaris-padding-large: 96px;
    --feed-polaris-sidebar-width: 268px;
    --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    --font-weight-system-bold: 700;
    --font-weight-system-extra-bold: 800;
    --font-weight-system-extra-light: 200;
    --font-weight-system-light: 300;
    --font-weight-system-medium: 500;
    --font-weight-system-regular: 400;
    --font-weight-system-semibold: 600;
    --gradient-lavender: #d300c5;
    --gradient-orange: #ff7a00;
    --gradient-pink: #ff0169;
    --gradient-purple: #7638fa;
    --gradient-yellow: #ffd600;
    --green-4: #78de45;
    --green-5: #58c322;
    --green-6: #37a600;
    --grey-1: #efefef;
    --grey-2: #dbdbdb;
    --grey-4: #a8a8a8;
    --grey-5: #8e8e8e;
    --grey-6: #737373;
    --grey-8: #363636;
    --grey-9: #262626;
    --grid-column-width: 5.555555555555555%;
    --hscc-collapse-transition-duration: 0.3s;
    --ig-badge: 255, 48, 65;
    --ig-banner-background: 255, 255, 255;
    --ig-close-friends-refreshed: 28, 209, 79;
    --ig-elevated-background: 255, 255, 255;
    --ig-elevated-separator: 219, 219, 219;
    --ig-error-or-destructive: 237, 73, 86;
    --ig-facebook-blue: 53, 121, 234;
    --ig-focus-stroke: 168, 168, 168;
    --ig-full-screen-background: 54, 54, 54;
    --ig-highlight-background: 239, 239, 239;
    --ig-letterbox: 255, 255, 255;
    --ig-link: 0, 55, 107;
    --ig-live-badge: 255, 1, 105;
    --ig-primary-background: 255, 255, 255;
    --ig-primary-button: 0, 149, 246;
    --ig-primary-text: 38, 38, 38;
    --ig-secondary-background: 250, 250, 250;
    --ig-secondary-button: 38, 38, 38;
    --ig-secondary-text: 142, 142, 142;
    --ig-separator: 219, 219, 219;
    --ig-stroke: 219, 219, 219;
    --ig-subscribers-only: 118, 56, 250;
    --ig-success: 88, 195, 34;
    --ig-temporary-highlight: 245, 251, 255;
    --ig-tertiary-text: 199, 199, 199;
    --ig-text-on-color: 255, 255, 255;
    --ig-text-on-media: 255, 255, 255;
    --igui-border-radius: 3px;
    --in-feed-story-item-height: 240px;
    --in-feed-story-item-width: 135px;
    --input-border-radius: 6px;
    --like-animation-duration: 1000ms;
    --live-video-border-radius: 4px;
    --live-video-right-col-width: 336px;
    --media-info: 335px;
    --mobile-cluster-card-height: 74px;
    --mobile-cluster-card-width: 108px;
    --mobile-grid-item-margin: 2px;
    --mobile-nav-height: 45px;
    --modal-backdrop-dark: rgba(0, 0, 0, 0.85);
    --modal-backdrop-default: rgba(0, 0, 0, 0.65);
    --modal-border-radius: 12px;
    --modal-padding: 16px;
    --modal-z-index: 100;
    --nav-narrow-width: 72px;
    --nav-medium-width: 244px;
    --nav-wide-width: 335px;
    --orange-5: #fd8d32;
    --photo: 600px;
    --pink-5: #d10869;
    --post-separator: 239, 239, 239;
    --post-step-indicator: 168, 168, 168;
    --purple-5: #a307ba;
    --red-4: #ff6874;
    --red-5: #ed4956;
    --red-6: #c62330;
    --red-7: #a70311;
    --refinement-section-height: 50px;
    --revamp-nav-bottom-toolbar-height: 50px;
    --right-rail-width: 300px;
    --scrollable-content-header-height-med: 49px;
    --scrollable-content-header-height: 44px;
    --search-box-height: 40px;
    --search-modal-height-expanded: 450px;
    --search-modal-height: 362px;
    --search-modal-top-offset: 12px;
    --search-result-height: 50px;
    --search-result-inline-top-offset: 60px;
    --search-result-list-width: 375px;
    --story-cube-shading-duration: 200ms;
    --story-desktop-margin-bottom: 26px;
    --story-desktop-margin-top: 82px;
    --story-gallery-preview-scale-correction: 2.5;
    --story-progressbar-update-tick: 0.1s;
    --story-swap-animation-duration: 350ms;
    --system-10-font-size: 10px;
    --system-10-line-height: 12px;
    --system-11-font-size: 11px;
    --system-11-line-height: 13px;
    --system-12-font-size: 12px;
    --system-12-line-height: 16px;
    --system-14-font-size: 14px;
    --system-14-line-height: 18px;
    --system-16-font-size: 16px;
    --system-16-line-height: 24px;
    --system-18-font-size: 18px;
    --system-18-line-height: 24px;
    --system-20-line-height: 25px;
    --system-22-font-size: 22px;
    --system-22-line-height: 26px;
    --system-24-font-size: 24px;
    --system-24-line-height: 27px;
    --system-26-font-size: 26px;
    --system-26-line-height: 28px;
    --system-28-font-size: 28px;
    --system-28-line-height: 32px;
    --system-32-font-size: 32px;
    --system-32-line-height: 40px;
    --tos-box-shadow: 0, 0, 0;
    --web-always-black: 0, 0, 0;
    --web-always-white: 255, 255, 255;
    --web-overlay-on-media: 38, 38, 38;
    --web-secondary-action: 224, 241, 255;
    --yellow-5: #fdcb5c;
    --overlay-alpha-80: rgba(0, 0, 0, 0.65);
    /* all icons background */

    --all-icons: url("https://www.instagram.com/static/bundles/es6/sprite_glyphs_41972edb0a7c.png/41972edb0a7c.png");
    --all-icons2: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png");
}
